<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Texto deslizante de Star Wars</title>
  <link rel="stylesheet" type="text/css" href="/Assets/style.css">
</head>
<body>
    <div class="intro-container">
        <div class="crawl-container">
          <div class="crawl">
            <p class="title">Star Wars: Episode IV - A New Hope</p>
            <p>It is a period of civil war. Rebel spaceships, striking from a hidden base, have won their first victory against the evil Galactic Empire.</p>
            <p>During the battle, Rebel spies managed to steal secret plans to the Empire's ultimate weapon, the DEATH STAR, an armored space station with enough power to destroy an entire planet.</p>
            <p>Pursued by the Empire's sinister agents, Princess Leia races home aboard her starship, custodian of the stolen plans that can save her people and restore freedom to the galaxy....</p>
          </div>
        </div>
      </div>
   
</body>
</html>